# Project-specific files to ignore
hook_imports.py
PDF Table Extractor.spec
icon/Icon.ics

# macOS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Git specific
.gitattributes

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/**/__pycache__/
**/__pycache__/
*.py[cod]
*/*.py[cod]
*/**/*.py[cod]
**/*.py[cod]
*$py.class
*/*$py.class
*/**/*$py.class
**/*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec